body {
	font-family: var(--font2);
}
h1, h2, h3, h4{
    font-family: var(--font2-bold);
}
h5, h6{
    font-family: var(--font2-medium);
    letter-spacing: -0.5px;
}

#dashboard-wrapper {
    background: #F2F6FB;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: minmax(250px, 18%) 1fr;
    /* grid-gap: 20px; */
    transition: all 1.5s;
}
/* #content-body-wrapper {
    background: #FFFFFF;
} */
#content-body {
    background: #FFFFFF;
    border: 1px solid rgba(0, 102, 245, 0.122023);
    box-sizing: border-box;
    box-shadow: 0px 12px 21px 10px rgba(4, 30, 139, 0.0478311);
    border-radius: 19px 0px 0px 0px;
    height: calc(100vh - 80px);
    overflow: auto;
    padding-bottom: 30px;
}

/*---============== SideBar Styling =================---*/
#side-bar {
    color: #92A1B7;
    transition: width 1.5s;
    padding: 10px 20px;
    overflow-y: hidden;
}
#side-bar:hover {
    overflow-y: auto;
}
#side-bar::-webkit-scrollbar {
    width: 4px;
}
#side-bar .brand-logo {
    width: 100%;
    margin: 10px 0 20px;
    /* text-align: center; */
}
#side-bar .brand-logo .brand-img {
    /* max-width: 150px; */
    width: 100%;
}
h2.greet-user {
    font-size: 35px;
    text-align: center;
    font-family: var(--font2-bold);
}
.nav-list-wrapper > div {
    margin: 15% 0;
}
.nav-list-wrapper > div:last-child {
    margin-bottom: 0;
}
.nav-list-wrapper ul {
    margin: 0;
    margin-top: 40px;
}
.nav-list-wrapper ul li.link-wrapper:not(:last-child) {
    padding: 0;
    margin: 10% 0;
    /* transition: all 1s; */
}
.nav-list-wrapper ul li.link-wrapper .list-title {
    color: #B3BAC5;
    font-size: 14px;
}
a.pg-link {
    color: #1F2C3E;
    font-size: 16px;
    display: block;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
}
img.link-img, img.a-link-img {
    height: 15px;
    align-self: center;
    margin-right: 10px;
}
img.a-link-img {
    display: none;
}
.nav-list-wrapper li.link-wrapper.active, .nav-list-wrapper li.link-wrapper:hover {
    background-color: var(--pry-color);
    border-radius: 14px;
    position: relative;
}
.nav-list-wrapper li.link-wrapper.active:hover {
    background-color: var(--pry-color);
}
.nav-list-wrapper li.link-wrapper:hover {
    background-color: rgba(0, 102, 245, 0.2);
}
.nav-list-wrapper li.link-wrapper.active img.a-link-img {
    display: block;
}
.nav-list-wrapper li.link-wrapper.active img.link-img {
    display: none;
}
.nav-list-wrapper li.link-wrapper.active a.pg-link {
    color: white;
}
.sidebar-overlay {
    display: none;
}
nav.top-nav .brand-logo {
    display: none;
}
/*---========= end of SideBar Styling ==========---*/

/*---====== Top-Nav Styling ======---*/
nav.top-nav {
    background-color: #F2F6FB;
    box-shadow: none;
    position: relative;
    /* width: 100%; */
    height: 80px;
    width: 100%;
    right: 0;
    /* max-width: calc(100% - 200px); */
    z-index: 10;
    color: var(--sec-color);
}
nav.top-nav > .align-content-center {
    padding: 0 40px;
    height: 100%;
    align-items: center;
}
h4.page-title {
    font-size: 17px;
    letter-spacing: 0;
    font-family: var(--font-smbold);
    margin: 0;
    line-height: 64px;
}

button.nav-pry-btn.btn, button.nav-pry-btn-2.btn {
    font-size: 10px;
    border-radius: 0;
    min-width: 100px;
    font-weight: bold;
    /* margin-bottom: 20px; */
    font-family: var(--font2);
    border: 1px solid var(--pry-color);
    transition: all 1.5ms;
    box-shadow: none;
}
button.nav-pry-btn.btn {
    background: var(--pry-color);
    color: white;
}
button.nav-pry-btn-2.btn {
    background-color: white;
    color: var(--pry-color);
    line-height: 1;
}
button.nav-pry-btn.btn:hover {
    background-color: var(--sec-color);
}
button.nav-pry-btn-2.btn:hover {
    background-color: var(--pry-color);
    color: white;
}
/*---====== end of Top-Nav Styling ======---*/

/*---====== Dashboard-Home Styling ======---*/
div#chart-n-table-wrapper {
    border: 1px solid rgba(0, 102, 245, 0.122023);
    border-color: rebeccapurple;
    border-radius: 22px;
    padding: 30px 40px;
    margin-top: 40px;
}
#piechart-container {
    height: 400px; 
    width: 100%;
}
.tickets-summary-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
hr.summary-wrapper-divider {
    grid-column-start: 1;
    grid-column-end: 4;
    border: none;
    margin: 0;
    height: 1px;
    background: #2D5AF6;
}
.tickets-summary-block {
    position: relative;
    font-family: var(--font2)
}
span.summary-number {
    font-size: 24px;
}
.summary-block-title {
    font-size: 13px;
    color: #747C93;
}
a.view-all-tickets {
    display: flex;
    color: var(--pry-color);
    position: absolute;
    bottom: 0;
}
a.view-all-tickets i.material-icons {
    color: var(--sec-color);
}
h4.ticket-status-title {
    font-size: 24px;
    letter-spacing: -1px;
    font-family: var(--font2-bold);
    margin: 0;
}

/*---====== end of Dashboard-Home Styling ======---*/


/*---============= Mobile View Styling =================---*/
@media(max-width: 992px) {
    #dashboard-wrapper {
        display: block;
    }
    nav.top-nav {
        width: 100%;
        max-width: 100%;
        top: 0;
    }
    nav.top-nav .brand-logo {
        top: 5px;
        display: initial;
    }
    #side-bar {
        position: fixed;
        z-index: 11;
        height: 100%;
        padding-top: 60px;
        transition: width 1.2s;
        overflow: hidden;
        width: 200px;
        transform: translateX(-200px);
        transition: all 1.2s;
    }
    #side-bar.open {
        transform: translateX(0);
    }
    #side-bar .brand-logo {
        display: none;
    }
    .sidebar-overlay {
        position: fixed;
        background-color: rgba(0,0,0,0.3);
        width: 100%;
        height: 100%;
        z-index: 10;
        display: none;
    }
    .sidebar-overlay.open {
        display: block;
    }
}

@media(max-width: 600px) {
    #piechart-container {
        height: 400px; 
        margin-bottom: 30px;
    }
    div#chart-n-table-wrapper {
        padding: 10px 10px 0;
        border: none;
    }
    .tickets-summary-wrapper {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10px;
    }
    hr.summary-wrapper-divider {
        display: none;
    }
}