body {
	font-family: var(--font2);
}
h1, h2, h3, h4{
    font-family: var(--font2-bold);
}
h5, h6{
    font-family: var(--font2-medium);
    letter-spacing: -0.5px;
}

#dashboard-wrapper {
    background: #F2F6FB;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: minmax(250px, 18%) 1fr;
    /* grid-gap: 20px; */
    transition: all 1.5s;
    overflow: hidden;
}
/* #content-body-wrapper {
    background: #FFFFFF;
} */
#content-body {
    background: #FFFFFF;
    border: 1px solid rgba(0, 102, 245, 0.122023);
    box-sizing: border-box;
    box-shadow: 0px 12px 21px 10px rgba(4, 30, 139, 0.0478311);
    border-radius: 19px 0px 0px 0px;
    height: calc(100vh - 80px);
    overflow: auto;
    padding-bottom: 30px;
}

/*---============== SideBar Styling =================---*/
#side-bar {
    color: #92A1B7;
    transition: width 1.5s;
    padding: 10px 20px;
    overflow-y: hidden;
}
#side-bar:hover {
    overflow-y: auto;
}
#side-bar::-webkit-scrollbar {
    width: 4px;
}
#side-bar .brand-logo {
    width: 100%;
    margin: 10px 0 20px;
    /* text-align: center; */
}
#side-bar .brand-logo .brand-img {
    /* max-width: 150px; */
    width: 100%;
}
h2.greet-user {
    font-size: 35px;
    text-align: center;
    font-family: var(--font2-bold);
}
.nav-list-wrapper > div {
    margin: 15% 0;
}
.nav-list-wrapper > div:last-child {
    margin-bottom: 0;
}
.nav-list-wrapper ul {
    margin: 0;
    margin-top: 40px;
}
.nav-list-wrapper ul li.link-wrapper:not(:last-child) {
    padding: 0;
    margin: 10% 0;
    /* transition: all 1s; */
}
.nav-list-wrapper ul li.link-wrapper .list-title {
    color: #B3BAC5;
    font-size: 14px;
}
a.pg-link {
    color: #1F2C3E;
    font-size: 16px;
    display: block;
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
}
img.link-img, img.a-link-img {
    height: 15px;
    align-self: center;
    margin-right: 10px;
}
img.a-link-img {
    display: none;
}
.nav-list-wrapper li.link-wrapper a.router-link-active.pg-link, 
.nav-list-wrapper li.link-wrapper:hover a.pg-link {
    background-color: var(--pry-color);
    border-radius: 14px;
    position: relative;
}
.nav-list-wrapper li.link-wrapper:hover a.router-link-active.pg-link {
    background-color: var(--pry-color);
}
.nav-list-wrapper li.link-wrapper:hover a.pg-link {
    background-color: rgba(0, 102, 245, 0.2);
}
.nav-list-wrapper a.router-link-active.pg-link img.a-link-img {
    display: block;
}
.nav-list-wrapper a.router-link-active.pg-link img.link-img {
    display: none;
}
.nav-list-wrapper a.router-link-active.pg-link {
    color: white;
}
.sidebar-overlay {
    display: none;
}
nav.top-nav .brand-logo {
    display: none;
}
/*---========= end of SideBar Styling ==========---*/

/*---====== Top-Nav Styling ======---*/
nav.top-nav {
    background-color: #F2F6FB;
    box-shadow: none;
    position: relative;
    /* width: 100%; */
    height: 80px;
    width: 100%;
    right: 0;
    /* max-width: calc(100% - 200px); */
    z-index: 10;
    color: var(--sec-color);
}
nav.top-nav > .align-content-center {
    padding: 0 40px;
    height: 100%;
    align-items: center;
}
h4.page-title {
    font-size: 17px;
    letter-spacing: 0;
    font-family: var(--font-smbold);
    margin: 0;
    line-height: 64px;
}

button.nav-pry-btn.btn, button.nav-pry-btn-2.btn {
    font-size: 10px;
    border-radius: 0;
    min-width: 100px;
    font-weight: bold;
    /* margin-bottom: 20px; */
    font-family: var(--font2);
    border: 1px solid var(--pry-color);
    transition: all 1.5ms;
    box-shadow: none;
}
button.nav-pry-btn.btn {
    background: var(--pry-color);
    color: white;
}
button.nav-pry-btn-2.btn {
    background-color: white;
    color: var(--pry-color);
    line-height: 1;
}
button.nav-pry-btn.btn:hover {
    background-color: var(--sec-color);
}
button.nav-pry-btn-2.btn:hover {
    background-color: var(--pry-color);
    color: white;
}
/*---====== end of Top-Nav Styling ======---*/

/*---====== Dashboard-Home Styling ======---*/
div#chart-n-table-wrapper {
    border: 1px solid rgba(0, 102, 245, 0.122023);
    border-radius: 22px;
    padding: 30px 40px;
    margin-top: 40px;
}
#piechart-container {
    height: 400px; 
    width: 100%;
}
.tickets-summary-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
hr.summary-wrapper-divider {
    grid-column-start: 1;
    grid-column-end: 4;
    border: none;
    margin: 0;
    height: 1px;
    background: #2D5AF6;
}
.tickets-summary-block {
    position: relative;
    font-family: var(--font2)
}
span.summary-number {
    font-size: 24px;
}
.summary-block-title {
    font-size: 13px;
    color: #747C93;
}
a.view-all-tickets {
    display: flex;
    color: var(--pry-color);
    position: absolute;
    bottom: 0;
}
a.view-all-tickets i.material-icons {
    color: var(--sec-color);
}
h4.ticket-status-title {
    font-size: 24px;
    letter-spacing: -1px;
    font-family: var(--font2-bold);
}

/*---====== end of Dashboard-Home Styling ======---*/

/*---====== Dashboard-Tickets Styling ======---*/
#filter-row {
    align-items: center;
    background: rgba(192, 200, 215, 0.496261);
    border: 1px solid rgba(0, 102, 245, 0.122023);
    box-sizing: border-box;
    border-radius: 19px;
    /* height: 82px; */
    padding: 15px 30px;
    margin: 20px 0 25px;
}
.filter-block {
    align-items: center;
}
.rel.rel-select-wrapper {
    max-width: 80%;
    padding: 0 12px;
}
.rel.rel-select-wrapper:nth-child(2) {
    border-right: 1px solid rgba(111, 127, 163, 0.236944);
}
.filter-block .custom-caret {
    position: absolute;
    top: 8px;
    right: 12px;
    width: 10px;
}
hr.filter-block-divider {
    width: 1.5px;
    height: 50px;
    margin: 0 15px 0 5px;
    border: none;
    background: #0F2A65;
}

.ticket-table-block {
    float: left;
    width: 100%;
    margin: 20px 0;
}
.ticket-details-wrapper {
    border: 1px solid rgba(0, 102, 245, 0.122023);
    box-sizing: border-box;
    border-radius: 19px;
    padding: 10px 20px;
}
table.ticket-details-table tbody tr {
    border: none;
}
table.ticket-details-table th {
    font-family: var(--font2);
    font-weight: normal;
    font-size: 14px;
}
table.ticket-details-table td {
    font-family: var(--font2);
    font-size: 16px;
}
.table-block-btn-wrapper {
    border-top: 2px solid var(--pry-color);
    width: calc(100% - 35px);
    margin: auto;
}
.table-block-btn-wrapper.inactive {
    opacity: 0.3;
}
.table-block-btn-wrapper.inactive .btn {
    pointer-events: none;
    cursor: not-allowed;
}
.btn.table-block-btn {
    text-transform: none;
    background-color: var(--pry-color);
    color: white;
    /* border: 1px solid rgba(0, 102, 245, 0.122023); */
    border-radius: 0 0 8px 8px;
    font-size: 14px;
    font-family: var(--font2);
}
.ticket-type-cell {
    max-width: 215px;
}
.table-block-link {
    text-decoration: underline;
    color: var(--pry-color);
}
.table-block-link:hover {
    color: var(--sec-color);
}
/*---====== end of Dashboard-Tickets Styling ======---*/

/*---====== Dashboard-Questionnaire Styling ======---*/
.questionnaires-wrapper {
    width: 100%;
    max-width: 750px;
    border: 1px solid rgba(0, 102, 245, 0.122023);
    box-sizing: border-box;
    border-radius: 19px;
    /* border-color: rebeccapurple; */
    padding: 20px 30px;
    margin: 30px 0 20px;
}
table.questionnaires-table tbody tr:last-child {
    border-bottom: none;
}
.questionnaires-row {
    font-size: 16px;
    cursor: pointer;
}
.questionnaires-row.unread {
    color: var(--pry-color);
}
.questionnaires-row.read {
    color: var(--sec-color);
}
img.ticket-icon {
    width: 30px;
    position: relative;
    top: 3px;
}
img.next-arr-icon {
    width: 8px;
    position: relative;
}
/*---====== end of Dashboard-Questionnaire Styling ======---*/

/*---====== Questionnaire-Form Styling ======---*/
.q-form-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 180px;
}
.page-title-description {
    font-size: 18px;
    font-family: var(--font-medium);
}
.save-link-side {
    padding-top: 1.52rem;
}
.save-n-continue{
    text-decoration: underline;
    color: var(--pry-color);
    font-size: 14px;
    position: relative;
    right: -15px;
}

.questionnaire-form-field {
    background: #E9F0FD;
    border: 1px solid #D9E2EF;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 20px 0;
    padding: 15px 25px;
}
form#questionnaires-form-wrapper .q-inp-field {
    background: #FFFFFF;
    border: 1px solid #D9E2EF;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0 10px;
    height: 55px;
    line-height: 55px;
    box-shadow: none;
}
form#questionnaires-form-wrapper textarea.q-inp-field {
    min-height: 200px;
    line-height: 22px;
    padding: 8px 10px;
}
.form-label {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
}
.questionnaire-form-field label {
    /* display: block; */
    color: #767E94;
    mix-blend-mode: normal;
    /* opacity: 0.8; */
    line-height: 3;
}
.submit-btn-section.flex-div {
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 20px;
}
.submit-btn-section.flex-div .save-link-side {
    padding: 0;
}
.submit-btn-section.flex-div .save-n-continue {
    right: 0;
}
[type="radio"]:checked+span:after, 
[type="radio"].with-gap:checked+span:before, 
[type="radio"].with-gap:checked+span:after {
    border: 2px solid #2D5AF6;
}
[type="radio"]:checked+span:after, 
[type="radio"].with-gap:checked+span:after {
    background-color: #2D5AF6;
}
.submit-btn-section.flex-div button.submit-btn.pry-btn.btn {
    font-size: 13px;
}
/*---====== end of Questionnaire-Form Styling ======---*/


/*---============= Mobile View Styling =================---*/
@media(max-width: 992px) {
    #dashboard-wrapper {
        display: block;
    }
    nav.top-nav {
        width: 100%;
        max-width: 100%;
        top: 0;
    }
    i.material-icons.menu-icon {
        font-size: 60px;
        line-height: 60px;
        margin-right: 15px;
    }
    nav.top-nav img.brand-img {
        width: 150px;
        position: relative;
        top: 10px;
    }
    h4.page-title.fg-1.center {
        text-align: left;
        position: relative;
        top: 5px;
    }

    #side-bar {
        position: fixed;
        z-index: 12;
        height: 100%;
        padding-top: 35px;
        transition: width 1.2s;
        overflow: hidden;
        width: 70%;
        min-width: 240px;
        max-width: 280px;
        transform: translateX(-600px);
        transition: all 1.2s;
        background-color: white;
    }
    #side-bar.open {
        transform: translateX(0);
    }
    #side-bar .brand-logo {
        display: none;
    }
    .logout-btn-wrapper {
        position: absolute;
        width: 90%;
        left: 5%;
        bottom: 10px;
    }
    .logout-btn-wrapper button.btn.nav-pry-btn-2 {
        width: 100%;
        border-radius: 15px;
        height: 45px;
    }
    .nav-list-wrapper > div, h2.greet-user {
        margin-top: 0;
    }
    .sidebar-overlay {
        position: fixed;
        background-color: rgba(0,0,0,0.3);
        width: 100%;
        height: 100%;
        z-index: 11;
        display: none;
    }
    .sidebar-overlay.open {
        display: block;
    }
    table.responsive-table tbody::-webkit-scrollbar {
        height: 4px;
    }
    table.ticket-details-table th {
        text-align: left;
    }

    .q-form-page-wrapper {
        grid-template-columns: 100%;
    }
}

@media(max-width: 600px) {
    nav.top-nav > .align-content-center {
        padding: 0 30px;
        height: 100%;
        align-items: center;
    }
    i.material-icons.menu-icon {
        font-size: 50px;
        line-height: 70px;
        margin-right: 0;
    }

    #piechart-container {
        height: 400px; 
        margin-bottom: 30px;
    }
    div#chart-n-table-wrapper {
        padding: 10px 10px 0;
        border: none;
    }
    .tickets-summary-wrapper {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10px;
    }
    hr.summary-wrapper-divider {
        display: none;
    }
    .ticket-type-cell {
        max-width: 100%;
    }

    .rel.rel-select-wrapper {
        max-width: 100px;
    }
    .rel.rel-sort-wrapper {
        max-width: 100px;
    }
    div#filter-row {
        flex-direction: column;
        align-items: baseline;
    }
    hr.filter-block-divider {
        height: 1px;
        width: 100%;
        margin: 20px 0;
    }
    .filter-block b.fg-1 {
        width: 50px;
    }

    tr.questionnaires-row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px 0px;
    }
    tr.questionnaires-row td {
        padding: 10px 5px;
    }
    tr.questionnaires-row:first-child td {
        padding-top: 0;
    }
    tr.questionnaires-row td:last-child {
        display: none;
    }

    .submit-btn-section.flex-div {
        flex-direction: column;
        margin-top: 40px;
    }
    .submit-btn-section.flex-div button.submit-btn.pry-btn.btn {
        margin-top: 20px;
        width: 100%;
    }
}