@font-face {
    font-family: 'BRFirma';
    src: url('../fonts/brf-fimma/BRFirma-Regular.ttf');
}
@font-face {
    font-family: 'BRFirma-smbold';
    src: url('../fonts/brf-fimma/BRFirma-SemiBold.ttf');
}
@font-face {
    font-family: 'BRFirma-bold';
    src: url('../fonts/brf-fimma/BRFirma-Bold.ttf');
}
@font-face {
    font-family: 'BRFirma-light';
    src: url('../fonts/brf-fimma/BRFirma-Light.ttf');
}
@font-face {
    font-family: 'BRFirma-xlight';
    src: url('../fonts/brf-fimma/BRFirma-ExtraLight.ttf');
}
@font-face {
    font-family: 'BRFirma-medium';
    src: url('../fonts/brf-fimma/BRFirma-Medium.ttf');
}

@font-face {
    font-family: 'Neurial-Grotesk';
    src: url('../fonts/neurial-grotesk/Neurial-Grotesk-Regular.ttf');
}
@font-face {
    font-family: 'Neurial-Grotesk-bold';
    src: url('../fonts/neurial-grotesk/Neurial-Grotesk-Bold.ttf');
}
@font-face {
    font-family: 'Neurial-Grotesk-light';
    src: url('../fonts/neurial-grotesk/Neurial-Grotesk-Light.ttf');
}
@font-face {
    font-family: 'Neurial-Grotesk-medium';
    src: url('../fonts/neurial-grotesk/Neurial-Grotesk-Medium.ttf');
}