:root {
    --pry-color: #0066F5;
    --sec-color: #022B69;
	--font: 'BRFirma', sans-serif;
    --font-bold: 'BRFirma-bold', sans-serif;
    --font-smbold: 'BRFirma-smbold', sans-serif;
    --font-light: 'BRFirma-light', sans-serif;
    --font-xlight: 'BRFirma-xlight', sans-serif;

    width: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: var(--pry-color);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 102, 245, 0.5);
}

body {
	font-family: var(--font);
	height: auto;
    min-height: 100vh;
    background-color: white;
    color: var(--sec-color);
}
h1, h2, h3, h4{
    font-family: var(--font-xlite);
    letter-spacing: -2px;
}
h5, h6{
    font-family: var(--font-xlite);
    letter-spacing: -1px;
}

.pad0{
    padding: 0 !important;
}
.pad-l-0{
    padding-left: 0 !important;
}
.pad-r-0{
    padding-right: 0 !important;
}
.hidden{
    display: none;
}
.reg-txt{
    font-family: var(--font);
}
.smbold-txt{
    font-family: var(--font-smbold);
}
.bold-txt{
    font-family: var(--font-bold);
}
.xbold-txt{
    font-family: var(--font-xbold);
}
.lite-txt{
    font-family: var(--font-lite);
}
.xlite-txt{
    font-family: var(--font-xlite);
}
.pry-font{
    font-family: var(--pry-font);
}
.rel{
    position: relative;
}
.abs{
    position: absolute;
}
.text-justify{
    text-align: justify;
}
.pry-color{
    color: var(--pry-color);
}
.sec-color{
    color: var(--sec-color);
}
.pry-bg{
    background-color: var(--pry-color);
    color: white;
}
.sec-bg{
    background-color: var(--sec-color);
    color: white;
}
.white-bg{
    background-color: white;
    color: black;
}
.white-txt{
    color: white !important;
}
.black-txt{
    color: black !important;
}
.black-bg{
    background-color: black;
    color: white;
}
.sm-black-bg{
    background-color: #1C1C1C;
    color: white;
}
.full-width{
    width: 100%;
}
.full-height{
    height: 100%;
}
.hidden-xs{
    display: block;
}
.visible-xs{
    display: none;
}
.flex-div{
    display: flex;
}
.justify-content-btw {
    justify-content: space-between;
}
.mag-0{
    margin: 0 !important;
}
.mag-bottom-0{
    margin-bottom: 0 !important;
}
.mag-top-0{
    margin-top: 0 !important;
}
.pointer {
    cursor: pointer;
}
.hover-scale {
    transition: all 1.5s;
}
.hover-scale:hover {
    transform: scale(1.1);
}

/* Some Home Styles */
#home {
    background-color: var(--sec-color);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(80vh - 100px);
    min-height: 500px;
    position: relative;
    padding-top: 30px;
    background-attachment: fixed;
    position: relative;
}
#home::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(270deg, rgba(5, 86, 162, 0.0001) 0%, rgba(2, 43, 105, 0.883159) 75.95%);
}
#home > .row {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}
h1.home-title {
    font-family: var(--font-bold);
    margin-top: 1.3rem;
}
button.pry-btn.btn, button.pry-btn-2.btn {
    font-size: 10px;
    border-radius: 0;
    min-width: 100px;
    font-weight: bold;
    /* margin-bottom: 20px; */
    font-family: var(--font);
    border: 1px solid var(--pry-color);
    transition: all 1.5ms;
    padding: 5px 20px;
    height: auto;
}
button.pry-btn.btn {
    background: var(--pry-color);
    color: white;
}
button.pry-btn-2.btn {
    background-color: white;
    color: var(--pry-color);
}
button.pry-btn.btn:hover {
    background-color: var(--sec-color);
    border-color: var(--sec-color);
}
button.pry-btn-2.btn:hover {
    color: var(--sec-color);
    border: 1px solid var(--sec-color);
}
button.submit-btn.pry-btn.btn {
    min-width: 150px;
}
button.pry-btn.btn img, button.pry-btn-2.btn img {
    position: relative;
    top: 5px;
    margin-left: 5px;
}
.home-btn-wrapper {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 10% 0 6%;
}
.home-learn-more {
    font-size: 16px;
    margin-top: 10px;
}
.home-learn-more > a {
    color: white;
}
.home-learn-more > a > img {
    width: 30px;
    position: relative;
    top: 10px;
    margin-right: 5px;
}
#home a:hover > span {
    text-decoration: underline;
}

section#more-about {
    padding: 20px 0;
}
h4.abt-title {
    font-size: 40px;
    font-family: var(--font-bold);
    margin: 20px 0;
}
p.abt-p-txt {
    font-weight: normal;
    color: var(--sec-color);
    font-size: 18px;
}
.about-block-grid {
    display: grid;
    grid-template-columns: calc(33.3% - 34px) calc(33.3% - 34px) calc(33.3% - 34px);
    grid-gap: 30px 50px;
    margin: 30px 0 20px;
}
/* .about-block img {
    width: 70px;
} */
.about-block p {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

section#calculator-sec {
    background: var(--sec-color) url(../images/ticket-calculator-bg.jpg);
    background-size: cover;
    background-position: right;
    height: 400px;
    position: relative;
}
.calc-sec-wrapper {
    position: absolute;
    top: 15%;
    /* transform: translateY(-50%); */
    right: calc(10% + 50px);
    max-width: 400px;
}
h2.calc-sec-title{
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
    color: white;
    margin-bottom: 0;
}
button.btn.white-bg-btn {
    background-color: white;
    color: var(--sec-color);
    border-color: white;
}
button.btn.white-bg-btn:hover {
    background-color: rgba(245, 245, 245, 0.9);
}
section#calculator-sec button.btn.white-bg-btn{
    margin-top: 10%;
}

/* end of Some Home Styles */


@media(max-width: 991px){
    .sidenav{
        height: 100vh;
    }
    .sidenav li > a{
        color: black;
        font-family: var(--font-bold);
        font-size: 16px;
    }
    .sidenav-logo {
        margin: 30px 0 40px;
    }
    #slide-out button.nav-pry-btn.btn {
        margin-top: 15px;
        width: 100%;
    }
    img.menu-icon-img {
        margin-top: 17px;
    }
    .img-li img {
        margin-top: 30px;
        width: 100%;
    }
    .sidenav .footer-links-li {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    nav.scrolled-nav.main-nav {
        height: 75px;
    }
}
@media(min-width: 601px) {
    .container {
        width: 90% !important;
    }
}
@media(max-width: 600px){
    .hidden-xs{
        display: none !important;
    }
    .visible-xs{
        display: block !important;
    }
    .text-center-xs{
        text-align: center;
    }
    .text-justify-xs{
        text-align: justify;
    }
    .inblock-div-xs{
        display: inline-block;
    }
    .pad0-xs{
        padding: 0 !important;
    }

    a.brand-logo img {
        width: auto;
        height: 35px;
        position: relative;
        top: 10px;
    }
    nav .brand-logo{
        left: 0;
        transform: translateX(0);
    }

    nav.main-nav .sidenav-trigger, nav.scrolled-nav .sidenav-trigger{
        margin-right: 0;
        position: relative;
        top: 10px;
    }
    nav.main-nav i.material-icons, nav.scrolled-nav i.material-icons {
        font-size: 46px;
    }
    nav.scrolled-nav a.brand-logo img {
        width: auto;
        height: 35px;
        top: 10px;
    }
}
